{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1><em>Blog</em></h1>
            </div>
        </div>
    </div>


    <div class="blog-entries">
        <div class="container">
            <div class="col-md-9">
                <div class="blog-posts">
                    <div class="row">
                    {% if request.path == '/blog/dep/' %}
                        {% for style in dep %}
                            <div class="col-md-6">
                                <div class="blog-post">
                                    <img src="{{ style.Image.url }}" style="height: 249px;width: 92%;" alt="">
                                    <div class="text-content">
                                        <span><a href="#">{{ style.Author }}</a> / <a href="#">{{style.Time}}</a> / <a href="{{style.Category}}">{{style.Category}}</a></span>
                                        <h2>{{style.Title}}</h2>
                                        <p>{{style.Description|truncatewords:"5"}}
                                        <br><br></p>
                                        <div class="simple-btn">
                                            <a href="{% url 'Music:comment' style.pk %}">ادامه مطلب</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elif request.path == '/blog/deephouse/' %}
                        {% for type in deephouse %}
                        <div class="col-md-12">
                            <div class="blog-post">
                                <img src="{{ type.Image.url }}" style="height: 249px;width: 92%;" alt="">
                                <div class="text-content">
                                    <span><a href="#">{{ type.Author }}</a> / <a href="#">{{type.Time}}</a> / <a href="{{type.Category}}">{{type.Category}}</a></span>
                                    <h2>{{type.Title}}</h2>
                                    <p>{{type.Description|truncatewords:"5"}}
                                    <br><br></p>
                                    <div class="simple-btn">
                                        <a href="{% url 'Music:comment' type.pk %}">ادامه مطلب</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="side-bar">
                    <form action="{% url 'Music:search' %}" method="POST">
                        {% csrf_token %}
                        <div class="search">
                            <fieldset>
                                <input name="search" type="text" class="form-control" placeholder="Search..." required>
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </fieldset>
                        </div>
                    </form>
                    
                    </div>
                    
                    <div class="recent-posts">
                        <div class="sidebar-heding">
                            <h2 style="direction:rtl;text-align:right;">آهنگ های پربازدید</h2>
                        </div>
                        <ul>
                            {% for date in object_list %}
                                <li><a href="{% url 'Music:comment' date.pk %}">
                                    <img src="{{ date.Image.url }}" style="width: 71px; height: 60px;" alt="Recent Post 1">
                                    <div class="text">
                                        <h6>{{ date.Title }}</h6>
                                        <span>{{date.Time}}</span>
                                    </div>
                                </li></a>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="categories">
                        <div class="sidebar-heding">
                            <h2 style="direction:rtl;text-align:right;">دسته بندی ها</h2>
                        </div>
                        <ul>
                            <li><a href="{% url 'Music:dep' %}">Dep</a></li>
                            <li><a href="{% url 'Music:deephouse' %}">Deephouse</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2018 Company Name 
    
    | Designed by TemplateMo</p>
            </div>
        </div>
    </footer>

    {% endblock %}
    

