{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'cssf/style.css' %}">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="booking-content">
                <div class="booking-image">
                    <img class="booking-img" style="height: 715px;" src="{% static 'images/13.jpg' %}" alt="Booking Image">
                </div>
                    <div class="booking-form" style="height:715px ;">
                        <form id="booking-form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h2>Update Music</h2>
                            <div class="form-group form-input">
                                {{form.Title|attr:"placeholder=title"}}
                            </div>
                            <div class="form-group form-input">
                                {{form.Description|attr:"placeholder=description"}}
                            </div> 
                            <div class="form-group form-input">
                                {{form.Image}}
                                <label for="phone" class="form-label"></label>
                            </div>
                            <div class="form-group form-input">
                                {{form.Time}}
                                <label for="phone" class="form-label"></label>
                            </div>
                            <div class="form-group">
                                <div class="select-list">
                                    {{form.Category}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-list">
                                    {{form.Author}}
                            
                                </div>
                            </div>
                            <div>
                                {{form.Boolean}} 
                                <div class="form-submit">
                                    <input type="submit" value="Book now" class="submit" id="submit" name="submit" />
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'jsf/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>